body {
    font-family: Arial, sans-serif;
    background-color: #FBB156;
}

form {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    margin: 100px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #333;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #C23008;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

input[type="submit"]:hover {
    background-color: #DB610F;
}
