/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title-image {
  height: 250px;
  background: url('https://images.pexels.com/photos/735869/pexels-photo-735869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center;
  background-size: cover;
}

#cart-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#cart-buttons button, #back-button, #pay-button {
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 1.2em;
}

#cart-buttons button:hover, #back-button:hover, #pay-button:hover {
  opacity: 0.8;
}

#cart-buttons a.button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
}

#pay-button {
  background-color: #4CAF50;
}

#back-button {
  background-color: #f44336;
}

#cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#cart-content div {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
}

#cart-content h2 {
  margin: 0;
  font-size: 1.2em;
}

#cart-content p {
  margin: 0;
  font-size: 1em;
  color: #333;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer #total-price {
  font-size: 1.5em;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background: #333;
  color: #fff;
  padding: 20px;
  transition: left 0.5s;
}

#sidebar.collapsed {
  left: -200px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

#content {
  margin-left: 220px;
  transition: margin-left 0.5s;
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 220px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#content.collapsed {
  margin-left: 20px;
  width: calc(100% - 20px);
}

#toggle {
  position: absolute;
  top: 20px;
  left: 230px;
  font-size: 30px;
  cursor: pointer;
  transition: left 0.5s;
}

#toggle.collapsed {
  left: 50px;
}

.card {
  position: relative;
  width: calc(33% - 20px);
  padding-top: 33%;
  overflow: hidden;
  border-radius: 30px;
  border: thin solid black;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  margin: 0 20px 20px -10px;
}

.card-img, .card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-img {
  object-fit: cover;
  transition: opacity 0.5s;
}

.card-content {
  padding: 20px;
  box-sizing: border-box;
  color: white;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content .card-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.card-content .card-description {
  font-size: 16px;
}

.card-content .card-price {
  font-size: 18px;
  font-weight: bold;
}

.card-content .card-button {
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card:hover .card-img {
  opacity: 0.3;
}

.card:hover .card-content {
  opacity: 1;
}

#sidebar ul li a {
  color: #4CAF50; /* Ändert die Schriftfarbe */
  font-size: 1.5em; /* Ändert die Schriftgröße */
  padding: 10px; /* Fügt padding hinzu, um den Link "klickbarer" zu machen */
  display: block; /* Stellt sicher, dass der Link die volle Breite des li-Elements einnimmt, was ihn leichter klickbar macht */
}

#sidebar ul li a:hover {
  background-color: #555; /* Ändert die Hintergrundfarbe beim Überfahren des Links */
  color: #fff; /* Ändert die Schriftfarbe beim Überfahren des Links */
}

@media only screen and (max-width: 600px) {
  #sidebar, #toggle, #content {
    position: static;
    width: 100%;
    height: auto;
  }

  #content {
    margin: 0;
    width: 100%;
  }

  .card {
    width: 100%;
    padding-top: 800px; /* Ändern Sie diesen Wert, um die Höhe der Karte zu erhöhen */
  }
  
  .card-img, .card-content {
    height: 800px; /* Stellen Sie sicher, dass dies mit dem Wert von 'padding-top' übereinstimmt */
  }

  #toggle {
    display: none;
  }

  #sidebar ul li a {
    color: #4CAF50;
    background-color: #333; 
    font-size: 1.2em; 
    padding: 10px; 
    display: block; 
  }

  #sidebar ul li a:hover {
    background-color: #555; 
  }
}


